@model webpageTest.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)//Only show for logged in users
{
    <h1>Welcome, @User.Identity.Name !</h1>

    <span style="white-space: pre-line">@Model.Info</span>

    <div style="width: 100%;">
        <div style="float: left; width: 50%">
            <h2>Today's exercises</h2>

            <table class="table">
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Summary
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.TodayExercises)
                {
                    <tr>
                        <td>
                            @item.Date.ToString("H:mm")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Excercises", new { id = item.Id }, new { }) |
                            @Html.ActionLink("Delete", "Delete", "Excercises", new { id = item.Id }, new { })
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Create New Exercise", "Create", "Excercises")
        </div>
        <div style="float: left;">
            <h2>Today's meals</h2>
            
            <table class="table">
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Summary
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.TodayMeals)
                {
                    <tr>
                        <td>
                            @item.Date.ToString("H:mm")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Meals", new { id = item.Id }, new { }) |
                            @Html.ActionLink("Delete", "Delete", "Meals", new { id = item.Id }, new { })
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Create New Meal", "Create", "Meals")
        </div>
    </div>
    <div style="clear:both"></div>
}
else
{
    <h1>Welcome to my amazing webpage! Create an account now!</h1>
}

