@model IEnumerable<webpageTest.Models.Meal>

@{
    ViewBag.Title = "Meals";
}

<h2>Index</h2>

@if (Model.Any())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
}
else
{
    <h2>No meals registered for this account!</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
